body {
    background-color: #f8f9fa; /* Light grey background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #343a40; /* Dark grey text color */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 20px;
    text-align: center;
}

h1 {
    color: #007bff; /* Bootstrap primary color */
    font-weight: bold;
}

.form-style {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.form-group label {
    font-weight: 500;
}

#video-upload-form .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    border-radius: 25px;
}

#results {
    max-width: 600px;
    margin: 20px auto;
}

#emotion-output {
    font-size: 18px;
}

.emotion-list {
    max-height: 300px; /* Set max height for scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ced4da; /* Optional: Add a border */
    border-radius: 4px; /* Optional: Round corners */
    margin-top: 10px; /* Space above each emotion list */
    padding: 10px; /* Padding inside the div */
    background-color: #ffffff; /* Background color */
}

a.btn-secondary {
    margin-top: 10px;
    border-radius: 25px;
}

.alert-info {
    background-color: #e2e6ea;
    border-color: #d6d8db;
    color: #343a40;
}
