<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center">Emotion Detection App</h1>
        <div class="card-container mt-5">
            <div class="card-item">
                <a href="/face" class="card-link">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-icon">
                                <i class="fas fa-smile-beam"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Live Face Emotion Detection</h5>
                                <p class="card-text">Detect real-time emotions from facial expressions using real time webcam feed.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-item">
                <a href="/speech" class="card-link">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-icon">
                                <i class="fas fa-microphone-alt"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Speech Emotion Detection</h5>
                                <p class="card-text">Analyze audio files to detect emotions based on speech patterns and process.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-item">
                <a href="/combined" class="card-link">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-icon">
                                <i class="fas fa-video"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Combined Emotion Detection</h5>
                                <p class="card-text">Upload video files to detect emotions from both facial expressions and audio.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
